<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todow/User</title>
</head>
<body>
    <header>
        <a href="/">Top</a>
    </header>
    <div class="container">
        <div class="wrapper">
            <p class="form-label">Edit to List</p>
            <form action="/update/<%= item.id %>" method="post">
                <input type="text" name="itemname" value="<%= item.content %>">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
    <a href="/list">Back to List</a>
</body>
</html>