<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todow/User</title>
</head>
<body>
    <div class="sign">
        <div class="container">
            <div class="content">
                <h2>New Registration</h2>
                <% if (errors.length > 0) { %>
                    <ul class="errors">
                    <% errors.forEach(error => { %>
                        <li><%= error %></li>
                    <% }); %>
                    </ul>
                <% } %>
                <form action="/signup" method="post">
                    <p>UserName</p>
                    <input type="text" name="name">
                    <p>EmailAddress</p>
                    <input type="text" name="email">
                    <p>Password</p>
                    <input type="password" name="password">
                    <p>RePassword</p>
                    <input type="password" name="repassword">
                    <input type="submit" value="Sign">
                    <a href="/">Back to Top</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>