<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoa/User</title>
</head>
<body>
    <div class="top">
        <div class="wrapper">
            <div class="content">
                <h2>Todo List</h2>
                <p>Welcome to Todo App</p>
                <p>Sign up and save your own list!</p>
                <a class="btn" href="/list">Getting Started!</a>
            </div>
        </div>
    </div>
</body>
</html>