<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todow/User</title>
    <link href="/css/top.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h2>Todo List</h2>
          <p>Welcome to Todo App</p>
          <p>Sign up and save your own list!</p>
          <a class="btn" href="/list">Getting Started!</a>
        </div>
      </div>
    </div>
  </body>
</html>